
* {
	background-color: #DDDDDD;
}

.inputfs {
	width: 400px;
	margin: 5px auto;
}

.inputLabel {
	width: 20%;
}

.inputTextfield {
	width: 70%;
}

.inputButton {
	width: 10%;
}

.removeButton {
	float: right;
}

.upButton {
	float: right;
}

.downButton {
	float: right;
}

ul {
    padding: 0;
    list-style-type: none;
}
