@{
	String answer = "Message sent";
}

<!DOCTYPE html>
<html lang='en'>
<head>
	<title>App Task</title>
	<link href="appTask.css" rel="StyleSheet" />
</head>
<body>
	<div id="page">
		<fieldset class="inputfs">
		<label class = "inputLabel">Add Task: </label>
			<input class = "inputTextfield" id="taskInput" type = "text"/>
			<button class = "inputButton" id="taskAdd">Add</button>
			<button class = "clearButton" id="clearAll">Clear</button>
		</fieldset>
		<ul id="list"></ul>
		</br>
		<a id = "contactLink">Contact</a>
		<form action='' method='post' class='contactForm' id = 'JSForm'>
		<fieldset class='contactFormFieldset'>
			<label class='contactFormElement'>Email Address</label>
			<input class='contactFormElement' type='email' placeholder='joe@example.com' name='email'></input>
		</fieldset>
		<fieldset class='contactFormFieldset'>
			<label class='contactFormElement'> Name </label>
			<input name='name' class='contactFormElement'></input>
		</fieldset>
		<fieldset class='contactFormFieldset'>
			<textarea name='message' class='contactFormMessage'></textarea>
		</fieldset>
		<fieldset class='contactFormFieldset'>
			<button>Submit</button>
		</fieldset>
		</form>
  	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="appTask.js"></script>
</body>
</html>